
{% block list %}
	<ul class="level_{{ level }}">{{ items }}</ul>
{% endblock %}

{% block item %}
	<li{{ xnav_render_attributes(item_attributes) }}>
		{# render the link #}
		{{ link }}

		{# display the sub-items #}
		{{ children }}
	</li>
{% endblock %}

{% block link %}
	<a{{ xnav_render_attributes(link_attributes) }} href="{{ item.uri|escape('html_attr') }}">{{ label }}</a>
{% endblock %}

{% block link_current %}
	<strong{{ xnav_render_attributes(link_attributes) }}>{{ label }}</strong>
{% endblock %}

{% block label %}
	<span{{ xnav_render_attributes(label_attributes) }}>{{ item.label }}</span>
{% endblock %}
